:host {
  display: block;
  height: 3em;
  width: 100%;
  position: fixed;
  background-color: lightgray;
  bottom: 0;
}

.copyText {
  padding-top: 2.7em;
  padding-right: 1em;
  font-size: 0.5em;
  opacity: 0.3;
  float: right;
}
